Makefile
aclocal.m4
autom4te.cache/
*.annot
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
._bcdi
._d
._ncdi
*.a
*.cm*
*.o
*.so
config.h
config.h.in
examples/Makefile.decode
examples/Makefile.encode
.*sw*
*~